In [1]:
import pandas as pd

In [8]:
data=pd.read_csv(r"C:\Users\pujal\Downloads\StudentsPerformance.csv")

In [9]:
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
# percentage 
#male score >50  and <50
#female
# how many male and female
# how mant students parent level of education level of education is bacelors
# standard in launch male and female
# fee in  launch male ,female

In [17]:
# percentage 
data["Percentage"]=(data["math score"]+data["reading score"]+data["writing score"])/3

In [18]:
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Percentage
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667
1,female,group C,some college,standard,completed,69,90,88,82.333333
2,female,group B,master's degree,standard,none,90,95,93,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333
4,male,group C,some college,standard,none,76,78,75,76.333333
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,94.000000
996,male,group C,high school,free/reduced,none,62,55,55,57.333333
997,female,group C,high school,free/reduced,completed,59,71,65,65.000000
998,female,group D,some college,standard,completed,68,78,77,74.333333
999,female,group D,some college,free/reduced,none,77,86,86,83.000000

In [35]:
#male percentage greater than 50

male_50=data.loc[(data["Percentage"]>50) & (data["gender"]=="male")]

In [36]:
len(male_50)     # by using the len function i am finding the how many are there

417

In [37]:
#male percentage less than  are equal to 50

male_49=data.loc[(data["Percentage"]<=50) & (data["gender"]=="male")]

In [38]:
len(male_49)  # by using the len function i am finding the how many are there

65

In [39]:
#male percentage greater than 50
female_50=data.loc[(data["Percentage"]>50) & (data["gender"]=="female")]

In [40]:
len(female_50)

474

In [45]:
#male percentage less than  are equal to 50
female_50=data.loc[(data["Percentage"]<=50) & (data["gender"]=="female")]

In [46]:
len(female_50)

44

In [47]:
# total students=1000,(male_50+male_49+female_50+famale_49)=1000

In [49]:
# total number of males
male=data.loc[data["gender"]=="male"]

In [50]:
len(male)

482

In [52]:
#total no of females
female=data.loc[data["gender"]=="female"]

In [53]:
len(female)

518

In [54]:
#total=1000(male+female)==1000

In [55]:
## how mant students parent level of education is bacelors
education=data.loc[data["parental level of education"]=="bachelor's degree"]

In [56]:
len(education)

118

In [58]:

## how mant students parent level of education is "high school
education1=data.loc[data["parental level of education"]=="high school"]

In [59]:
len(education1)

196

In [60]:
## how mant students parent level of education  is some college
education2=data.loc[data["parental level of education"]=="some college"]

In [61]:
len(education2)

226

In [62]:
## how mant students parent level of education is master's degree
education3=data.loc[data["parental level of education"]=="master's degree"]

In [63]:
len(education3)

59

In [64]:
## how mant students parent level of education  is associate degree
education4=data.loc[data["parental level of education"]=="associate's degree"]

In [65]:
len(education4)

222

In [70]:
# male in standard launch

standard_lunch=data.loc[(data["lunch"]=="standard") & (data["gender"]=="male")]

In [71]:
len(standard_lunch)

316

In [80]:
#male in free lunch

free_launch=data.loc[(data["lunch"]=="free/reduced") & (data["gender"]=="male")]

In [81]:
len(free_launch)

166

In [77]:
# female in standard launch

standard_lunch_of_girls=data.loc[(data["lunch"]=="standard") & (data["gender"]=="female")]

In [78]:
len(standard_lunch_of_girls)

329

In [88]:
# female in free launch
free_lunch_for_girls=data.loc[(data["lunch"]=="free/reduced") & (data["gender"]=="female")]

In [89]:
len(free_lunch_for_girls)

189

In [ ]:
# total=1000(male launch(standard ,free)+female(standard ,free))==1000